- url = post.persisted? ? admin_post_path(post) : admin_posts_path
= form_for post, :as => :post, :url => url do |f|

  - unless post.errors.blank?
    .errors
      = post.errors.full_messages.join(", ")
  = f.label :title
  = f.text_field :title
  
  = f.label :content
  = f.text_area :content, :cols => 100
  
  %br/
  = f.label :published
  = f.check_box :published
  
  %br/
  = f.select(:category_id, options_from_collection_for_select(Tabloids::Category.all, :id, :name, :selected => post.category_id), :include_blank => 'Select Category')
  
  %br/
  = f.text_field(:tag_list, 'data-all-tags' => all_post_tags_json)
  
  %br/
  = f.submit
  
- content_for :javascript do
  :javascript
    var availableTags = JSON.parse($('#post_tag_list').attr('data-all-tags'));
    $(function(){ Tabloids.posts.edit.init(availableTags); })