= form_for [:admin, post] do |f|

  - unless post.errors.blank?
    .errors
      = post.errors.full_messages.join(", ")
  = f.label :title
  = f.text_field :title
  
  = f.label :content
  = f.text_area :content
  
  %br/
  = f.submit